

*{
    margin:0px ;
    padding: 0px;
    box-sizing: border-box;
    
}


#logo {
    position: absolute;
    top: 35px;
    left: 200px;
    font-size: 30px;
    font-weight: bolder;
     color: white; 

}
#navbar{
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    
    
    padding-top: 30px;
    text-align: right;
}


 a {
    text-decoration: none;
     color: white; 
    margin: 8px;
    text-align: right;
}
#main{
    width: 100%;
    height: 100vh;
 background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7), url(hero-bg.jpg);
    background-size:  cover;
    

    
}
#home #home1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px;

}

  
 #home h4 {
    background: rgba(192, 173, 173, 0.1);
    color:white;
    font-size: 20px;
    padding: 10px 30px;
    margin-bottom: 30px;
    border-radius: 50px;
}

  
#home h1 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color:white;
}

#home p {
    color: #eee;
    margin-bottom: 40px;
    font-size: 20px;
}



